<ion-header>
  <ion-toolbar>
    <ion-title>Radar</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="backHome()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="height: 100%;">
  <div class="form-content">
    <img src="../../../assets/icon/chamarcatadorproximo.png" alt="" style="width: 100%; height: 100%;" />
  </div>
</ion-content>

<ion-footer slot="end">
  <ion-button type="submit" expand="block" (click)="backHome()">
    Chamar catador mais próximo
  </ion-button>
</ion-footer>