<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ng-container *ngIf="userType === '1'">
      <app-catador></app-catador>
    </ng-container>
    <ng-container *ngIf="userType === '2'">
      <app-reciclador></app-reciclador>
    </ng-container>
    <ng-container *ngIf="userType === '3'">
      <app-centro-reciclagem></app-centro-reciclagem>
    </ng-container>
  </div>
</ion-content>
